.border{

    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
 }

.justify-center{

    justify-content: center;

}

.items-centre{
    align-items: center;
}

.bg-black{

       background-color: black;
       color: white;
}

.bg-grey{

         background-color: #121212;
}

/* to invert the color of the images */

.invert{

    filter: invert(1);
}

.rounded{

      border-radius: 7px;
}

.m-1{

    margin: 5px;
}

.p-1{

    padding: 10px;
}